<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HelpDesk.Properties.Settings.ConnectionString" connectionString="Data Source=BRANDY\MSSQL2019;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HelpDesk.Properties.Settings.dbHelpDeskConnectionString"
            connectionString="Data Source=LAPTOP-QA1JQG2U\MSQL2019;Initial Catalog=dbHelpDesk;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>